includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - ./vendor/phpstan/phpstan-phpunit/extension.neon
    - ./vendor/phpstan/phpstan-phpunit/rules.neon
    - ./vendor/phpstan/phpstan-strict-rules/rules.neon
    - ./vendor/shipmonk/phpstan-rules/rules.neon
    - ./vendor/shipmonk/dead-code-detector/rules.neon

parameters:
    level: 9
    paths:
        - src
        - tests
    tmpDir: cache/phpstan/
    checkMissingCallableSignature: true
    checkUninitializedProperties: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkBenevolentUnionTypes: true

    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        implicitThrows: false
        checkedExceptionClasses:
            - ShipMonk\InputMapper\Runtime\Exception\RuntimeException

    shipmonkRules:
        forbidCheckedExceptionInCallable:
            allowedCheckedExceptionCallables:
                'ShipMonk\InputMapper\Runtime\CallbackMapper::__construct': 0

    ignoreErrors:
        -
            message: '#Property [\w\\]++::\$provider is never read, only written\.#'
            paths: [tests/**/Data/*.php]
        -
            message: '#has ShipMonk\\InputMapper\\Runtime\\Exception\\MappingFailedException in PHPDoc @throws tag but it''s not thrown.#'
            paths: [tests/**/Data/*.php]
        -
            message: '#throws checked exception ShipMonk\\InputMapper\\Runtime\\Exception\\MappingFailedException but it''s missing from the PHPDoc @throws tag\.#'
            paths: [tests/**/*Test.php]
        -
            message: "#^Method ShipMonkTests\\\\InputMapper\\\\Compiler\\\\Validator\\\\Array\\\\Data\\\\ListItemValidatorMapper\\:\\:map\\(\\) should return list\\<int\\<1, max\\>\\> but returns list\\<int\\>\\.$#"
            count: 1
            path: tests/Compiler/Validator/Array/Data/ListItemValidatorMapper.php
        -
            message: "#^Method ShipMonkTests\\\\InputMapper\\\\Compiler\\\\Validator\\\\Array\\\\Data\\\\ListItemValidatorWithMultipleValidatorsMapper\\:\\:map\\(\\) should return list\\<int\\<1, max\\>\\> but returns list\\<int\\>\\.$#"
            count: 1
            path: tests/Compiler/Validator/Array/Data/ListItemValidatorWithMultipleValidatorsMapper.php

        -
            identifier: shipmonk.deadMethod
            path: src/Compiler/Php/PhpCodeBuilder.php # consider utility class

services:
    -
        class: ShipMonkDev\PHPStan\IgnoreDeadInterfaceUsageProvider
        tags:
            - shipmonk.deadCode.memberUsageProvider
