<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
        colors="true"
        bootstrap="vendor/autoload.php"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutChangesToGlobalState="true"
        beStrictAboutCoverageMetadata="true"
        failOnRisky="true"
        failOnWarning="true"
        cacheDirectory="cache/.phpunit.cache"
>
    <php>
        <ini name="error_reporting" value="-1"/>
    </php>
    <coverage/>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
